<canvas id="canvas" width=640 height=640></canvas>

<script src="webgl-utils.js"></script>
<script src="m4.js"></script>

<script>

"use strict";

var vertexShaderSource = `#version 300 es
  in vec4 a_position;
  in vec2 a_texcoord;
  uniform vec2 u_texoffset;
  uniform mat4 u_matrix;
  out vec2 v_texcoord;
  out vec3 v_fragpos; 

  void main() {
    gl_Position = u_matrix * a_position;
    v_fragpos = vec3(gl_Position.xy,0);
    v_texcoord = a_texcoord + (u_texoffset * vec2(1.0/16.0, 1.0/16.0));
  }
`;

var fragmentShaderSource = 
 `#version 300 es
  #line 28
  precision highp float;
  in vec2 v_texcoord;
  in vec3 v_fragpos;  
  uniform sampler2D u_texture;
  out vec4 outColor;
  
  //const vec3 tintColour = vec3(0.9, 0.2, 0.2); // tasteful pink
  const vec3 ambientLight = vec3(0.3, 0.3, 0.3); // 30% brightness in shadow
  const vec3 directionalLightColour = vec3(1, 1, 1); // white light
  //const vec3 lightPos = vec3(0, 1, 2);
  
  uniform vec3 u_lightpos;
  uniform vec3 u_tintColour;
  
  const float specularStrength = 50.0;

  void main() {
    vec4 pixcol = texture(u_texture, v_texcoord);
    
    float v = abs(pixcol.r)+abs(pixcol.b)+abs(pixcol.g);
    
    vec3 baseCol = vec3(v,v,v) * u_tintColour;
    
    vec4 normal = normalize(pixcol * 2.0 - 1.0);
    
    vec3 directionalVector = normalize(u_lightpos - v_fragpos); 
    
    float directional = max(dot(normal.xyz, directionalVector), 0.0)/2.0;
    vec3 diffuselight = (directionalLightColour * directional);
    
    vec3 viewDir = vec3(0,0,1);
    
    float spec = max(0.0, dot(normal.xyz, directionalVector));
    spec = pow(spec, 12.0);
    
    vec3 ambient = ambientLight * baseCol;
    vec3 diffuse = diffuselight * baseCol;
    vec3 specular = (specularStrength * spec * directionalLightColour) / 3.0;  
    
    //outColor = vec4(v_fragpos.xy, 0.0, 1.0);
    
    outColor = vec4(ambient + diffuse + specular, pixcol.a);
    //outColor = vec4(specular,pixcol.a);
  }
`;

var map = [
  [ 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x76, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00 ],
  [ 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x76, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00 ],
  [ 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x75, 0x76, 0x77, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00 ],
  [ 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x76, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00 ],
  [ 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x76, 0x77, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00 ],
  [ 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x75, 0x76, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00 ],
  [ 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x76, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00 ],
  [ 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x75, 0x76, 0x77, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00 ],
  [ 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x76, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00 ],
  [ 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x76, 0x77, 0x00, 0x00, 0x00, 0x57, 0x00, 0x00, 0x00, 0x00, 0x00 ],
  [ 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x75, 0x76, 0x00, 0x00, 0x00, 0x00, 0x57, 0x00, 0x55, 0x55, 0x55, 0x55 ],
  [ 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x76, 0x00, 0x00, 0x55, 0x55, 0x57, 0x55, 0x55, 0x00, 0x00, 0x00 ],
  [ 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x36, 0x76, 0x00, 0x00, 0x55, 0x00, 0x57, 0x00, 0x00, 0x00, 0x00, 0x00 ],
  [ 0x00, 0x55, 0x55, 0x55, 0x55, 0x55, 0x55, 0x55, 0x55, 0x55, 0x55, 0x55, 0x55, 0x00, 0x57, 0x00, 0x00, 0x00, 0x00, 0x00 ],
  [ 0x55, 0x55, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x57, 0x00, 0x00, 0x00, 0x00, 0x00 ],
  [ 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x57, 0x00, 0x00, 0x00, 0x00, 0x00 ],
  [ 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00 ],
  [ 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00 ],
  [ 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00 ],
  [ 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00 ],
];

// based on Primal8
var palette = [
  [0.200, 0.188, 0.340],  // 0  nearly black
  [0.302, 0.353, 0.424],  // 1  bluey grey
  [0.427, 0.663, 0.890],  // 2  light blue
  [0.933, 0.702, 0.200],  // 3  gold
  [0.145, 0.576, 0.133],  // 4  green
  [0.690, 0.282, 0.282],  // 5  red
  [0.357, 0.180, 0.200],  // 6  brown
  [0.800, 0.800, 0.800],  // 7  nearly white
]

var tileCols = [
  0,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,
  7,7,7,7,7,2,7,7,7,7,7,7,7,7,7,7,
  7,7,7,7,7,2,2,2,2,7,7,7,7,7,7,7,
  7,7,7,7,7,2,2,2,2,7,7,7,7,7,7,7,
  7,6,6,7,7,7,7,7,7,7,7,7,7,7,7,7,
  7,7,7,7,7,3,5,5,7,7,7,7,7,7,7,7,
  7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,
  7,7,7,7,7,4,6,4,7,7,7,7,7,7,7,7,
  7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,
  7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,
  7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,
  7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,
  7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,
  7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,
  7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,
  7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,
]

var frame = 0;

function main() {
  var canvas = document.querySelector("#canvas");
  var gl = canvas.getContext("webgl2");
  if (!gl) {
    return;
  }

  // Use our boilerplate utils to compile the shaders and link into a program
  var program = webglUtils.createProgramFromSources(gl,
      [vertexShaderSource, fragmentShaderSource]);

  var offsetLoc = gl.getUniformLocation(program, "u_texoffset");
  var lightposLoc = gl.getUniformLocation(program, "u_lightpos");
  var tintcolLog = gl.getUniformLocation(program, "u_tintColour");

  // look up where the vertex data needs to go.
  var positionAttributeLocation = gl.getAttribLocation(program, "a_position");
  var texcoordAttributeLocation = gl.getAttribLocation(program, "a_texcoord");

  // look up uniform locations
  var matrixLocation = gl.getUniformLocation(program, "u_matrix");

  // Create a buffer
  var positionBuffer = gl.createBuffer();

  // Create a vertex array object (attribute state)
  var vao = gl.createVertexArray();

  // and make it the one we're currently working with
  gl.bindVertexArray(vao);

  // Turn on the attribute
  gl.enableVertexAttribArray(positionAttributeLocation);

  // Bind it to ARRAY_BUFFER (think of it as ARRAY_BUFFER = positionBuffer)
  gl.bindBuffer(gl.ARRAY_BUFFER, positionBuffer);
  // Set Geometry.
  setGeometry(gl);

  // Tell the attribute how to get data out of positionBuffer (ARRAY_BUFFER)
  var size = 3;          // 3 components per iteration
  var type = gl.FLOAT;   // the data is 32bit floats
  var normalize = false; // don't normalize the data
  var stride = 0;        // 0 = move forward size * sizeof(type) each iteration to get the next position
  var offset = 0;        // start at the beginning of the buffer
  gl.vertexAttribPointer(
      positionAttributeLocation, size, type, normalize, stride, offset);

  // create the texcoord buffer, make it the current ARRAY_BUFFER
  // and copy in the texcoord values
  var texcoordBuffer = gl.createBuffer();
  gl.bindBuffer(gl.ARRAY_BUFFER, texcoordBuffer);
  setTexcoords(gl);

  // Turn on the attribute
  gl.enableVertexAttribArray(texcoordAttributeLocation);

  // Tell the attribute how to get data out of colorBuffer (ARRAY_BUFFER)
  var size = 2;          // 2 components per iteration
  var type = gl.FLOAT;   // the data is 32bit floating point values
  var normalize = true;  // convert from 0-255 to 0.0-1.0
  var stride = 0;        // 0 = move forward size * sizeof(type) each iteration to get the next color
  var offset = 0;        // start at the beginning of the buffer
  gl.vertexAttribPointer(
      texcoordAttributeLocation, size, type, normalize, stride, offset);

  // Create a texture.
  var texture = gl.createTexture();

  // use texture unit 0
  gl.activeTexture(gl.TEXTURE0 + 0);

  // bind to the TEXTURE_2D bind point of texture unit 0
  gl.bindTexture(gl.TEXTURE_2D, texture);

  // Fill the texture with a 1x1 blue pixel.
  gl.texImage2D(gl.TEXTURE_2D, 0, gl.RGBA, 1, 1, 0, gl.RGBA, gl.UNSIGNED_BYTE,
                new Uint8Array([0, 0, 255, 255]));
                
  var lightpos = [0,0];

  // Asynchronously load an image
  var image = new Image();
  image.src = "texture.png";
  image.addEventListener('load', function() {
    // Now that the image has loaded make copy it to the texture.
    gl.bindTexture(gl.TEXTURE_2D, texture);
    gl.texImage2D(gl.TEXTURE_2D, 0, gl.RGBA, gl.RGBA, gl.UNSIGNED_BYTE, image);
    drawScene();
  });

  drawScene();

  window.addEventListener('resize', drawScene);
  canvas.addEventListener("mousemove", mouseMove);

  // Draw the scene.
  function drawScene() {
    //webglUtils.resizeCanvasToDisplaySize(gl.canvas);
    
    frame++;
    
    //map[5][5]=frame%256;

    // Tell WebGL how to convert from clip space to pixels
    gl.viewport(0, 0, gl.canvas.width, gl.canvas.height);

    // Clear the canvas
    gl.clearColor(0.102, 0.094, 0.157, 1);
    gl.clear(gl.COLOR_BUFFER_BIT | gl.DEPTH_BUFFER_BIT);

    // turn on depth testing
    gl.enable(gl.DEPTH_TEST);
    
    gl.enable(gl.BLEND);
    gl.blendFunc(gl.SRC_COLOR, gl.DST_COLOR);

    // Tell it to use our program (pair of shaders)
    gl.useProgram(program);

    // Bind the attribute/buffer set we want.
    gl.bindVertexArray(vao);

    for (var yc=0; yc<20; ++yc) {
      for (var xc=0; xc<20; ++xc) {

        var tile = map[yc][xc];
        
        //if (tile > 0 ) 
        {

          var size = 32;
          var x = xc*size;
          var y = yc*size;

          var matrix = m4.orthographic(0, gl.canvas.clientWidth, gl.canvas.clientHeight, 0, -1, 1);
          matrix = m4.translate(matrix, x, y, 0);
          matrix = m4.scale(matrix, size, size, 1);
          matrix = m4.translate(matrix, 0.5, 0.5, 0);

          gl.bindTexture(gl.TEXTURE_2D, texture);
          gl.texParameteri(gl.TEXTURE_2D, gl.TEXTURE_MAG_FILTER, gl.LINEAR);
          gl.texParameteri(gl.TEXTURE_2D, gl.TEXTURE_MIN_FILTER, gl.LINEAR);
 
          // Set the matrix.
          gl.uniformMatrix4fv(matrixLocation, false, matrix);
          
          
          
          // set uv offset
          gl.uniform2fv(offsetLoc, [tile%16, Math.floor(tile/16)]);
          
          // set light (mouse) pos
          gl.uniform3fv(lightposLoc, [lightpos[0], lightpos[1], 1.0]);
          
          // set tile tint colour
          gl.uniform3fv(tintcolLog, palette[tileCols[tile]]);

          // Draw the geometry.
          var primitiveType = gl.TRIANGLES;
          var offset = 0;
          var count = 1 * 6;
          gl.drawArrays(primitiveType, offset, count);
        }
      }
    }
    requestAnimationFrame(drawScene);
  }
  
  function getRelativeMousePosition(event, target) {
    target = target || event.target;
    var rect = target.getBoundingClientRect();

    return {
      x: event.clientX - rect.left,
      y: event.clientY - rect.top,
    }
  }

  // assumes target or event.target is canvas
  function getNoPaddingNoBorderCanvasRelativeMousePosition(event, target) {
    target = target || event.target;
    var pos = getRelativeMousePosition(event, target);

    pos.x = pos.x * target.width  / target.clientWidth;
    pos.y = pos.y * target.height / target.clientHeight;
    
    pos.x  = pos.x / gl.canvas.width  *  2 - 1;
    pos.y = pos.y / gl.canvas.height * -2 + 1;

    return pos;  
  }
  
  function mouseMove(ev) {
    var pos = getNoPaddingNoBorderCanvasRelativeMousePosition(ev, canvas);
    lightpos = [pos.x, pos.y];
  }
  
}

function setGeometry(gl) {
  var positions = new Float32Array([
      -0.5,  0.5,  0.5,
       0.5,  0.5,  0.5,
      -0.5, -0.5,  0.5,
      -0.5, -0.5,  0.5,
       0.5,  0.5,  0.5,
       0.5, -0.5,  0.5,
  ]);

  gl.bufferData(gl.ARRAY_BUFFER, positions, gl.STATIC_DRAW);
}

function setTexcoords(gl) {
  gl.bufferData(
      gl.ARRAY_BUFFER,
      new Float32Array([
          0, 0.0625,
          0.0625, 0.0625,
          0, 0,
          0, 0,
          0.0625, 0.0625,
          0.0625, 0,
      ]),
      gl.STATIC_DRAW);
}

main();
</script>